// Basic Link Styling

a{
    text-decoration: none;
    color: $link-color;
    font-weight: $link-weight;
    &:hover,
    &:active,
    &:focus{
        text-decoration:none;
    }
    &:active,
    &:focus{
        outline:none;
    }
}
