.archive{
    &__recent{
        margin-bottom: 3rem;
    }
    &__itself{
        ul{
            list-style-type: none;
            padding: 0;

            li {
                margin-bottom: 1rem;
            }
        }
    }
    &__quicktalks {
        list-style: none;
        margin: 0;
        padding: 0;
        > li {
            margin: 0 0 4px;
        }
    }
    &__quicktitle {
        font-weight: 700;
    }
}
