.talk {
    position: relative;

    &__img {
        float: left;
        padding-right: 20px;
        width: 20%;
    }
    &__info {
        float: left;
        margin-top: .5rem;
        width: 80%;
        p {
            font-size: 1.7rem;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    // &__speaker {}
    // &__title {}
    // &__description {}
    &__meta {
        font-size: 1.7rem;
        margin: 0;
        padding: 0;
        list-style: none;
        > li { 
            display: inline-block;
        }
    }
}
