.footer{
    background: $black;
    padding: 2rem 0; 
    margin-top: 3rem;
    text-align-last: center;

    a, p {
        color: $prim1; 
        font-weight: bold;
    }

    a {
        text-decoration: underline;    
    }
}
