.layout__header{
    background: url('../images/header.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 70vh;
    min-height: 500px;
    text-transform: uppercase;
    h1{
        font-size: 3rem;
        margin: 0;
    }
    h2{
        margin-top: .2em;
        font-size: 7rem;
    }
    h1, h2{
        color: $white;
        text-align: center;
    }

    &--small {
        height: 39vh;
        min-height: 4rem;
    }
}
.header__link{
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: all .25s ease;

    &:hover {
        text-decoration: none;
        transform: translateY(-50%) scale(1.1);
    }
}

.layout__logo > h1{
    display: block;
    text-transform: uppercase;
    font-family: $font-heading;
    font-size: 2.2rem;
    color: $white;
    margin-bottom: 20px;

    @media screen and (min-width: $screen-sm-min) {
        display: inline-block;
        margin: 0;
    }


    &:hover{
        color: $prim1;
        transition: color .4s ease;
    }
}
.navigation-wrapper {
    background-color: $black;
}

.navigation{
    padding: 1em 2em;
    color: $white;
    justify-content: space-between;
    align-items: center;
}
