.layout__header{
    background: url('../images/header.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 70vh;
    min-height: 500px;
    text-transform: uppercase;
    h1{
        font-size: 3rem;
        margin: 0;
    }
    h2{
        margin-top: .2em;
        font-size: 7rem;
    }
    h1, h2{
        color: $white;
        text-align: center;
    }
}
.header__link{
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.layout__logo{
    text-transform: uppercase;
    font-family: $font-heading;
    color: $white;
}
.navigation{
    padding: 1em 2em;
    background-color: $black;
    color: $white;
    justify-content: space-between;
    align-items: center;
}