.pane{
    margin: 2rem auto 0;
    max-width: $maxWidth;

    @media screen and (min-width: $screen-sm-min) {
        margin: 0 auto;
    } 

    .pane{
        max-width: auto;
    }
                            
    // background colors
    &--prim1{background-color: $prim1;}
    &--prim2{background-color: $prim2;}
    &--prim3{background-color: $prim3;}
    &--prim4{background-color: $prim4;}
    // sizes
    &--full{ min-height: 100vh; }
    &--half{ min-height:  50vh; }
    &--third{ min-height: 33vh; }

    h1, h2, h3, h4 {
        margin: 0 0 1rem;
    }
    
    .pane__title {
        font-size: 2.2rem;
        @media screen and (min-width: $screen-sm-min) {
            @include font-size($font-size-h1);
        } 
    }

    @media (min-width: $screen-xs){
        padding-top: $nav-height;
    }
}
