.pane{
    margin: 0;
                            
    // background colors// {{{
    &<Plug>yankstack_after_paste--prim1{background-color: $prim1; border-left: 1rem solid $prim1d;}
    &--prim2{background-color: $prim2; border-left: 1rem solid $prim2d;}
    &--prim3{background-color: $prim3; border-left: 1rem solid $prim3d;}
    &--prim4{background-color: $prim4; border-left: 1rem solid $prim4d;}
    // }}}
    // sizes// {{{
    &--full{ min-height: 100vh; }
    &--half{ min-height:  50vh; }
    &--third{ min-height: 33vh; }
    // }}}

    h1, h2 {
        margin: 0;
    }
    @media (min-width: $screen-xs){
        padding-top: $nav-height;
    }
}
