.team {
    position: relative;
    
    > div {
        &:first-of-type {
            padding-left: 0;
            padding-right: 4%;
        }
        &:last-of-type {
            padding-left: 4%;
            padding-right: 0;
        }
    }

    > h3, h4 {
        text-align: left;
    }

    &__member {
        figcaption {
            @media screen and (min-width: $screen-sm-min) {
                margin-top: 20px;
            }
        }
    }

    &__member-img {
        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    &__meta {
        list-style: none;
        margin: 0;
        padding: 0;
        > li {
            display: inline-block;
            a {
                img {
                    max-width: 24px;
                }
            }
        }
    }
}
