.team {
    position: relative;
    
    > div {
        @media screen and (min-width: $screen-sm-min) {
            &:first-of-type {
                padding-left: 0;
                padding-right: 4%;
            }
            &:last-of-type {
                padding-left: 4%;
                padding-right: 0;
            }
        }
    }

    > h3, h4 {
        text-align: left;
    }

    &__member {
        margin: 0 0 10px 0;
        figcaption {
            display: inline-block;
            vertical-align: middle;
            @media screen and (min-width: $screen-sm-min) {
                margin-top: 20px;
            }
        }
    }

    &__member-img {
        &.img {
            display: block;
        }
        img {
            width: 100px;
            border-radius: 50%;
            @media screen and (min-width: $screen-sm-min) {
                width: 100%;
            }
        }
    }

    &__meta {
        list-style: none;
        margin: 0;
        padding: 0;
        > li {
            display: inline-block;
            a {
                img {
                    max-width: 18px;
                }
            }
        }
    }


}
