.team {
    position: relative;
    
    > div {
        padding-right: 2rem;
    }

    > h3, h4 {
        text-align: left;
    }

    &__member {
        margin: 0 0 10px 0;
        figcaption {
            display: inline-block;
            vertical-align: middle;
            margin-top: 2rem;

            h4 {
                margin-bottom: 0;
            }

            @media screen and (min-width: $screen-sm-min) {
                margin-top: 2rem;
            }

        }
    }

    &__member-img {
        &.img {
            display: block;
        }
        img {
            width: 100px;
            border-radius: 50%;
            @media screen and (min-width: $screen-sm-min) {
                width: 100%;
            }
        }
    }

    &__meta {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 1rem;
        > li {
            display: inline-block;
            a {
                img {
                    max-width: 18px;
                }
            }
        }
    }


}
